@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: #61dafb;
    background: #16181d;

    display: flex;
    justify-content: center;
    font-family: 'Fredoka', sans-serif;
    /* align-items: center; */

}

.container{
    background: #20232a;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
}

.title{
    text-align: center;
}

.status-action {
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    justify-content: space-around;
    height: 30px;
}

.status span{
    color: #f2ebd3;
}

.reset{
    cursor: pointer;
}

.reset:hover{
    color: #f2ebd3;
    text-decoration: underline;
}

.game-grid{
    margin-top: 50px;
    background: #16181d;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 15px
}

.game-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background: #20232a;
    cursor: pointer;

}

.x::after{
    content: '✖';
    font-size: 200px;
}

.o::after{
    content: '○';
    color: #f2ebd3;
    font-size: 200px;
}

.won::after{
    color: rgb(64, 191, 64);
}

    @media only screen and (max-width: 1024px) {
    .game-grid {
        margin-top: 25px;
        grid-gap: 10px;
    }

    .game-cell {
        height: 150px;
        width: 150px;
    }

    .x::after {
        font-size: 150px;
    }

    .o::after {
        font-size: 175px;
    }
}
  
@media only screen and (max-width: 540px) {
    .container {
        margin: 25px;
        padding: 25px;
    }

    .game-cell {
        height: 100px;
        width: 100px;
    }

    .x::after {
        font-size: 100px;
    }

    .o::after {
        font-size: 125px;
    }
}
